h1 {
    /* padding-top: 20px; */
    text-align: center;
    font-size: 45px;
    color: white;
    margin-top: 0;
}

.inputs {
    text-align: center;
    color: white;
}

.login-button {
    /* padding-top: 25px; */
    text-align: center;
}

.link-button {
    padding-top: 30px;
}