h1 {
    padding-top: 20px;
    text-align: center;
    font-size: 45px;
    /* color: rgb(187, 62, 62); */
    margin-top: 0;
}

p {
    padding-top: 15px;
    font-size: 18px;
    margin-left: 7rem;
    margin-right: 7rem;
}

.inputs {
    text-align: center;
    color: rgb(0, 0, 0);
}

.container {
    color: rgb(32, 25, 25);
}

.login-button {
    /* padding-top: 25px; */
    text-align: center;
}

.link-button {
    padding: 0px;
    margin: 0px;
}

.register-text {
    color: rgb(184, 70, 70);
    font-size: 15px;
    padding-bottom: 5px;
    font-style: bold;
}