.nav {
    text-align: center;
}

.nav-title {
    margin: 0px;
    padding: 20px 0px 25px 0px;
    font-size: 90px;
    display: inline-block;
    -webkit-text-stroke: 3px black;
    color: #f2f2f2;
    align-content: center;
}

.nav-link {
    text-decoration: none;
    color: #2c2c2c;
    font-size: 15px;
    padding: 5px 20px;

    /* these last two make the logout button in
    the nav bar look like another link */
    border:none;
    cursor: pointer;
    font: gotham;
}